http:
  routers:
    openwebui:
      rule: "Host(`openwebui.__PLUTO_DOMAIN__`)"
      service: openwebui
    litellm:
      rule: "Host(`litellm.__PLUTO_DOMAIN__`)"
      service: litellm
    n8n:
      rule: "Host(`n8n.__PLUTO_DOMAIN__`)"
      service: n8n

  services:
    openwebui:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8080"
    litellm:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:4000"
    n8n:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:5678"
